.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
    align-items: flex-end;
}

.slider-content input,
img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    height: 100%;
    margin: 10px;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid #d17926;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #d17926;
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #d17926;
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

.principal{
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .slide-box img {
        width: 100%;
        max-width: 300px;
        max-height: 300px;
        height: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 700px) {
    .slide-box img {
        width: 100%;
        max-width: 200px;
        max-height: 200px;
        height: 100%;
        margin: 10px;
    }
}